_develop/emulators/ePSXe/isos/
_develop/emulators/MAME/.mamepgui/cache/gamelist.cache
_develop/emulators/MAME/artwork/
_develop/emulators/MAME/artwork_/
_develop/emulators/MAME/dats/history.dat
_develop/emulators/MAME/dats/history.db
_develop/emulators/MAME/EKMAME64.exe
_develop/emulators/MAME/flyer/
_develop/emulators/MAME/hash/
_develop/emulators/MAME/history/history.db
_develop/emulators/MAME/mame64.exe
_develop/emulators/MAME/mame64.sym
_develop/emulators/MAME/marquee/
_develop/emulators/MAME/nvram/
_develop/emulators/MAME/roms/
_develop/emulators/MAME/snap/
_develop/emulators/MAME/title/
_develop/emulators/MAME/video/
_develop/emulators/MAME/wheel/
_develop/emulators/PCSX2/Game ISO/
_develop/emulators/PCSX2/memcards/Soul Calibur III (K).ps2
_develop/emulators/PPSSPP/Game ISO/
_develop/emulators/PSXMAME/roms/
_develop/menu-art/
_develop_old/
emulators/Cemu/keys.txt
emulators/Cemu/log.txt
emulators/Cemu/mlc01/sys/title/0005001b/1005c000/content/
emulators/Cemu/mlc01/usr/save/00050000/10110000/
emulators/Cemu/Roms/
emulators/Cemu/settings.bin
emulators/Cemu/settings.xml
emulators/Cemu/shaderCache/driver/nvidia/GLCache/c18b09d9c69329b41cdbbf3de627bc9f/5ab02615e80a3ab4/
emulators/Cemu/shaderCache/transferable/
emulators/Demul/Disc Image/
emulators/Demul/Roms/
emulators/Demul/scache/
emulators/Dolphin/Game ISO/
emulators/ePSXe/isos/
emulators/M2/Roms/
emulators/MAME/.mamepgui/cache/gamelist.cache
emulators/MAME/artwork/
emulators/MAME/artwork_/
emulators/MAME/dats/history.dat
emulators/MAME/dats/history.db
emulators/MAME/EKMAME64.exe
emulators/MAME/flyer/
emulators/MAME/hash/
emulators/MAME/history/history.db
emulators/MAME/mame64.exe
emulators/MAME/mame64.sym
emulators/MAME/marquee/
emulators/MAME/nvram/
emulators/MAME/roms/
emulators/MAME/snap/
emulators/MAME/title/
emulators/MAME/video/
emulators/MAME/wheel/
emulators/Mednafen/ISO/
emulators/PCSX2/Game ISO/
emulators/PCSX2/memcards/Soul Calibur III (K).ps2
emulators/PPSSPP/Game ISO/
emulators/Project64_v1.7/Roms/
emulators/Project64/Roms/
emulators/PSXMAME/roms/
emulators/RetroArch/cores/
emulators/RetroArch/system/
emulators/SuperModel/ROMs/
emulators/Taito Type X/Raiden III/
emulators/Taito Type X/Raiden III.zip
emulators/Taito Type X/Raiden IV/
emulators/Taito Type X/Raiden IV.zip
emulators/Taito Type X/Samurai Shodown - Edge of Destiny/
emulators/Taito Type X/Samurai Shodown - Edge of Destiny.7z
emulators/Taito Type X/Spica Adventure/
emulators/Taito Type X/Spica Adventure.7z
emulators/Taito Type X/The BishiBashi/
emulators/Taito Type X/The BishiBashi.7z
emulators/TeknoParrot/Games/
emulators/TeknoParrot/N2/TeknoParrot.dll
emulators/TeknoParrot/TeknoParrot/avcodec-58.dll
emulators/TeknoParrot/TeknoParrot/TeknoParrot.dll
menu-art/
last_run.log
script.nv
